/* Task 1  -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.temp {                         /* В мене один css документ на 3 завдання, тому відокремив блочні елементи іншим блочним елементом, який має клас "temp" */
    width: 400px;
    height: 40px;
}

.first {

    border:1px #fff  solid;
    border-bottom: dashed;
    border-bottom-color: red ;
    border-top: 7px dotted;
    border-top-color: green;
    border-right: ridge 10px;
    border-right-color: blue ;
    border-left-color: gray ;
    border-left: double;
    margin-bottom: 30px;
}

.p1 {
    padding-left: 30px;
}

.second {
    border:1px #fff  solid;
    border-bottom-color: red;
    text-align: center;
    margin-bottom: 30px;
}

.third {
    border:1px #fff  solid;
    background-color: 	#bbf5f5;
    border-left: 8px solid rgb(30, 124, 212);
    margin-bottom: 30px;
}

.p3 {
    padding-left: 30px;
}

.fourth {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 5px 5px 20px #a09ea1;
    padding-top: 5px;
    margin-bottom: 30px;
}

.fourth:hover {
    background-color: rgb(41, 163, 219);
    color : #fff;
}

.p4 {
    padding-left: 30px;
}


/* Task 2 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.outside {
    border : 1px solid lightgrey;
    height: 250px;
    width: 500px;
    border-radius: 10px;
}

.circle {
    margin-top: 65px;
    margin-left: 15px;
    background-color: lightgrey;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    float: left;
}

.inside {
    margin-left: 165px;
    margin-top: 29px;
    border : 1px solid lightgrey;
    height: 190px;
    width: 300px;
}

.shortLine {
    height: 25px;
    width: 130px;
    margin: 20px 85px;
    background:  linear-gradient(55deg, lightgrey, rgb(85, 82, 82));
}

.line {
    background:  linear-gradient(55deg, lightgrey, rgb(85, 82, 82));
    height: 25px;
    width: 200px;
    margin: 10px 50px;
}


/* Task 3 -----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.cont {
    height: 1023px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F4F4F4;
    font-family: Roboto;
}

.logo {
    float: left;
    width: 250px;
    height: 170px;
    margin: 0px 6px 15px 110px
}

.h1 {
    color: #11264E;
    font-size: 60px;
    font-style: normal;
    padding: 65px 101px 15px 360px
}

.navigation {
    height: 50px;
    width: 1200px;
    background-color: #11264E;

}

.list {
    margin: 17px;
}

.list1{
    padding-left: 83px;
    margin: 17px;
}
.menu {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-style: normal;
}

a:hover{
    text-decoration: underline ;
}


.menu li {
    display: inline-block;
}

.main {
    margin: 36px 100px 0px 100px;
    background-color: #fff;
    width: 1000px;
}

h2 {
    font-size: 36px;
    font-style: normal;
    color: #000;
    padding-top: 30px;
    padding-left: 65px;
    margin-bottom: 30px;
    
}

img {
    width: 280px;
    height: 210px;
}

.img1 {
    margin: 0px 36px 0px 42px;
}

.img2 {
    margin: 0px 36px 0px 0px;
}

.img2 {
    margin-right: 42px;
}

.text {
    margin-left: 44px;
    margin-right: 41px;
}
