/* TASK 1 ******************************************************************/
.nav {
    background-color: #2e405c;
    display: flex;
    align-items: stretch;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}

.text {
    background-color: #45546d;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;

}

.text1 {
    margin-left: 15px;
    background-color: #45546d;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

a {
   text-decoration: none; 
   color: rgb(255, 255, 255);
}

/* TASK 2 ******************************************************************/

.container {
    background-color:rgba(219, 216, 216, 0.555);
    display: flex;
    width: 900px;
    align-items: center;
    
}

.icons {
    flex-direction:column-reverse;
    display : inline-block;
    text-align: center;
}

.Text {
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid black;
    
}

.img1 {
    margin-bottom: 25px;
}

.img2 {
    padding-bottom: 25px;
}
